**/node_modules/**
**/.env

.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars

*.log

*.tfvars.json

*.pem
*.key
*.crt
*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

*.out

.DS_Store
Thumbs.db
